<!DOCTYPE html>
<html ng-app="converter">
<head>
    <title>ASCII to text converter</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body>

    <div class="container" ng-controller="converterController">
        <div classs="row">
            <div class="col-xs-12">
                <h1 class="text-primary">ASCII converter</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 center-block">
                <h2>Binary to text</h2>
                <textarea placeholder="Use comma to separate values, ex. 10001001, 10000011" rows="4" cols="50" ng-model="binary" ng-list ng-change="convertBinary()"></textarea>
            </div>

            <div class="col-xs-12 col-sm-6">
                <h2>Text to binary</h2>
                <textarea rows="4" cols="50" ng-model="letters" ng-change="convertText()"></textarea>
            </div>
        </div>
    </div>

</body>
</html>